
<div class="container">
  <div class="btn-create-trip">
    <%= link_to "CREATE TRIP", new_trip_path, class: "btn-main-trips" %>
  </div>
   <h3>UPCOMING TRIPS</h3>
  <% @trips.each do |trip| %>
    <div class="card-product">
        <% @client = GooglePlaces::Client.new(ENV['PLACES_API'])%>
        <% @reference = @client.spots_by_query("#{trip.location}")[0].reference %>
        <% @spot = @client.spot("#{@reference}") %>
        <%= image_tag (@spot.photos[0].fetch_url(800)) %>
        <div class="card-product-infos">
          <div class="product-info-main">
            <h2><%= link_to trip.location, trip_path(trip) %></h2>
            <p><%= trip.start_date %> - <%= trip.end_date %></p>
          </div>
          <div class="clock d-flex">
            <i class="far fa-clock"></i>
            <p><%= (trip.end_date - trip.start_date).to_i %> days</p>
           </div>
        </div>
    </div>
    <br>
  <% end %>
<h3>PAST TRIPS</h3>






</div>

