 <div class="container">

  <% invite_link = Rails.application.routes.url_helpers.trip_url(@trip) + "?token=" + @trip.invite_token %>
  <!-- The text field -->
  <input type="text" value= <%= invite_link %> id= invite-link >
  <!-- The button used to copy the text -->
  <button id ="copy-link" class= "btn btn-primary-tt btn-sm">Copy invite link</button>
  <%= link_to "Re-generate invite link", regenerate_invite_link_path(@trip), method: :patch , class:"btn btn-danger-tt btn-sm" %>

  <hr>

  <p> Share via Email : </p>
  <form action="/email">
    <label for="email">Send to:  </label>
    <input type="text" name="email" placeholder="Enter an email address">
    <input type="hidden" name="token" value="<%= Rails.application.routes.url_helpers.trip_url(@trip) %>?token=<%= @trip.invite_token %>">
    <input type="hidden" name="subject" value="Your friend <%= @trip.user.name %> has invited you to the <%= @trip.location %> trip">
    <input type="hidden" name="trip_id" value="<#%= @trip.id %>">
    <input type="hidden" name="trip_name" value="<#%= @trip.location %>">
    <input type="hidden" name="trip_sdate" value="<#%= @trip.start_date %>">
    <input type="hidden" name="trip_edate" value="<#%= @trip.end_date %>">
    <input type="hidden" name="trip_user" value="<#%= @trip.user.name %>">
    <input type="submit" value="Send" class="btn btn-primary-tt btn-sm">
    <input type="submit" value="Cancel" class="btn btn-danger-tt btn-sm">
  </form>

</div>



