<div class="container">
  <%= simple_form_for @trip do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit %>
  <% end %>
</div>
