<div class="container">
  <h1>Trip to <%= @trip.location %>  </h1>
  <p> <%= @trip.name %> </p>
  <%= @trip.start_date %> <%= @trip.end_date %>

  <%= link_to 'Edit', edit_trip_path(@trip), class: "btn btn-primary-tt btn-sm" %>
  <%= link_to 'Back', trips_path, class: "btn btn-primary-tt btn-sm" %>

  <hr>

  <div class="dropdown" data-controller="item-form" data-item-form-url= "<%= new_trip_item_path(@trip) %>" >
    <span data-target="item-form.category" type="text"></span>
    <button class="btn btn-primary-tt dropdown-toggle" type="button" data-action="click->item_form#serve" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Add item
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <p data-action="click->item-form#serve" data-item="Flight" class="dropdown-item" >Flight</p>
      <p data-action="click->item-form#serve" data-item="Accommodation" class="dropdown-item" >Accommodation</p>
      <p data-action="click->item-form#serve" data-item="Activity" class="dropdown-item" >Activity</p>
    </div>
    <span data-target="item-form.form">
    </span>
  </div>
  <hr>
  <%= link_to "Re-generate invite link", regenerate_invite_link_path(@trip), method: :patch %>
  <p> Invite link: <%= Rails.application.routes.url_helpers.trip_url(@trip) %>?token=<%= @trip.invite_token %> </p>
  <hr>

  <p>Travellers: <%= @trip_owner %>
  <% if @guest_user.count ==  0 %>
    <%=  %>
  <% else %>
    <% @guest_user.each do |guest|%>
      <%= guest.name %>
    <% end %>
  <% end %>
  </p>

  <hr>
  <p> Share via Email : </p>
  <form action="/email">
    <label for="email">Send to:  </label>
    <input type="text" name="email" placeholder="Enter an email address"><br>
    <input type="hidden" name="token" value="<%= Rails.application.routes.url_helpers.trip_url(@trip) %>?token=<%= @trip.invite_token %>">
    <input type="hidden" name="subject" value="Your friend <%= @trip.user.name %> has invited you to the <%= @trip.location %> trip">
    <input type="hidden" name="trip_id" value="<%= @trip.id %>">
    <input type="hidden" name="trip_name" value="<%= @trip.location %>">
    <input type="hidden" name="trip_sdate" value="<%= @trip.start_date %>">
    <input type="hidden" name="trip_edate" value="<%= @trip.end_date %>">
    <input type="hidden" name="trip_user" value="<%= @trip.user.name %>"><br>
    <input type="submit" value="Send" class="btn btn-primary-tt btn-sm">
    <input type="submit" value="Cancel" class="bbtn btn-danger-tt btn-sm">
    <input type="submit" value="Cancel" class="btn btn-danger-tt btn-sm">
  </form>

  <hr>

  <div data-controller="item-status" data-item-status-url="<%= trip_items_path(@trip) %>">
    <div class="d-flex">
      <div class="list-inline tabs-underlined">
        <div>
          <%= link_to "Itinerary", "#", class: "tab-underlined active", id: "itineraryTab", "data-action": 'click->item-status#itinerary' %>
        </div>
        <div>
          <%= link_to "Flight", "#", class: "tab-underlined active", id: "flightTab", "data-action": 'click->item-status#flight' %>
        </div>
        <div>
          <%= link_to "Accommodation", "#", class: "tab-underlined active", id: "accommodationTab", "data-action": 'click->item-status#accommodation' %>
        </div>
        <div>
         <%= link_to "Activity", "#", class: "tab-underlined active", id: "activityTab", "data-action": 'click->item-status#activity'  %>
        </div>
      </div>
</div>


      <div class="dropdown mb-2 mt-2">
          <button class="btn btn-primary-tt dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </button>
        <div class="dropdown-menu">
          <div class="form-check ml-3" >
            <input id= "pendingTab" type="checkbox" class="form-check-input" id="dropdownCheck2" checked="true" data-action ='change->item-status#pending'>
            <label class="form-check-label" for="dropdownCheck2">
              Pending
            </label>
          </div>
          <div class="form-check ml-3" >
            <input id= "approvedTab" type="checkbox" class="form-check-input" id="dropdownCheck2" checked="true" data-action ='change->item-status#approved'>
            <label class="form-check-label" for="dropdownCheck2">
              Approved
            </label>
          </div>
          <div class="form-check ml-3" >
            <input id= "bookedTab" type="checkbox" class="form-check-input" id="dropdownCheck2" checked="true" data-action ='change->item-status#booked'>
            <label class="form-check-label" for="dropdownCheck2">
              Booked
            </label>
          </div>
        </div>
      </div>


    <div data-target='item-status.items'>
      <%= render partial: 'items/item', collection: @trip.items %>
    </div>
  </div>

  <%= link_to 'Chat', trip_chatroom_path(@trip, @chatroom), class: "fab" %>

<!-- closing div for container -->
</div>
