
<!-- <div class="banner-show">
<%#= image_tag (@spot.photos[0].fetch_url(800)) %>
</div>
 -->
<div class="container">
  <div class="trip-show-top d-flex ">
    <div>
      <h3>Trip to <%= @trip.location %>  </h3>
      <h4><%= @trip.start_date %> to <%= @trip.end_date %></h4>
    </div>
    <div class="btn-trip-show-top">
    <%= link_to 'Edit', edit_trip_path(@trip), class: "btn btn-primary-tt btn-sm" %>
    <%#= link_to 'Back', trips_path, class: "btn btn-primary-tt btn-sm" %>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="dropdown  my-1 mr-3 py-1" data-controller="item-form" data-item-form-url= "<%= new_trip_item_path(@trip) %>" >
        <span data-target="item-form.category" type="text"></span>
        <button class="btn btn-primary-tt dropdown-toggle" type="button" data-action="click->item_form#serve" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add item
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <p data-action="click->item-form#serve" data-item="Flight" class="dropdown-item" >Flight</p>
          <p data-action="click->item-form#serve" data-item="Accommodation" class="dropdown-item" >Accommodation</p>
          <p data-action="click->item-form#serve" data-item="Activity" class="dropdown-item" >Activity</p>
        </div>
        <span data-target="item-form.form"></span>
      </div>

      <div>
        <% if @trip_owner.avatar.attached? %>
          <%= image_tag @trip_owner.avatar, class: "avatar" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dowupfbnq/image/upload/v1604735390/istockphoto-1223671392-612x612_dyrhd5.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>

        <% if @guest_user.count ==  0 %>
          <%=  %>
        <% else %>
          <% @guest_user.each do |guest|%>
            <% if guest.avatar.attached? %>
              <%= image_tag guest.avatar, class: "avatar" %>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/dowupfbnq/image/upload/v1604735390/istockphoto-1223671392-612x612_dyrhd5.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <div>
        <%= link_to '', trip_chatroom_path(@trip, @chatroom), class: "far fa-comments my-1 mx-3 h2" %>
      </div>
    </div>
  </div>


  <%= link_to "Re-generate invite link", regenerate_invite_link_path(@trip), method: :patch %>
  <p> Invite link: <%= Rails.application.routes.url_helpers.trip_url(@trip) %>?token=<%= @trip.invite_token %> </p>

  <p> Share via Email : </p>
  <form action="/email">
    <label for="email">Send to:  </label>
    <input type="text" name="email" placeholder="Enter an email address">
    <input type="hidden" name="token" value="<%= Rails.application.routes.url_helpers.trip_url(@trip) %>?token=<%= @trip.invite_token %>">
    <input type="hidden" name="subject" value="Your friend <%= @trip.user.name %> has invited you to the <%= @trip.location %> trip">
    <input type="hidden" name="trip_id" value="<%= @trip.id %>">
    <input type="hidden" name="trip_name" value="<%= @trip.location %>">
    <input type="hidden" name="trip_sdate" value="<%= @trip.start_date %>">
    <input type="hidden" name="trip_edate" value="<%= @trip.end_date %>">
    <input type="hidden" name="trip_user" value="<%= @trip.user.name %>">
    <input type="submit" value="Send" class="btn btn-primary-tt btn-sm">
    <input type="submit" value="Cancel" class="btn btn-danger-tt btn-sm">
  </form>

  <hr>

  <div data-controller="item-status" data-item-status-url="<%= trip_items_path(@trip) %>">
     <div>
      <div class="list-inline tabs-underlined">
        <div>
          <%= link_to "ITINERARY", "#", class: "tab-underlined", id: "itineraryTab", "data-action": 'click->item-status#itinerary' %>
        </div>
        <div>
          <%= link_to "FLIGHT", "#", class: "tab-underlined", id: "flightTab", "data-action": 'click->item-status#flight' %>
        </div>
        <div>
          <%= link_to "ACCOMMODATION", "#", class: "tab-underlined", id: "accommodationTab", "data-action": 'click->item-status#accommodation' %>
        </div>
        <div>
         <%= link_to "ACTIVITY", "#", class: "tab-underlined", id: "activityTab", "data-action": 'click->item-status#activity'  %>
        </div>
      </div>
    </div>


      <div class="dropdown mb-2 mt-2">
          <button class="btn-primary-tt-filter dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
             <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-filter-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
        </svg>
          </button>
        <div class="dropdown-menu">
          <div class="form-check ml-3" >
            <input id= "pendingTab" type="checkbox" class="form-check-input" id="dropdownCheck2" checked="true" data-action ='change->item-status#pending'>
            <label class="form-check-label" for="dropdownCheck2">
              Pending
            </label>
          </div>
          <div class="form-check ml-3" >
            <input id= "approvedTab" type="checkbox" class="form-check-input" id="dropdownCheck2" checked="true" data-action ='change->item-status#approved'>
            <label class="form-check-label" for="dropdownCheck2">
              Approved
            </label>
          </div>
          <div class="form-check ml-3" >
            <input id= "bookedTab" type="checkbox" class="form-check-input" id="dropdownCheck2" checked="true" data-action ='change->item-status#booked'>
            <label class="form-check-label" for="dropdownCheck2">
              Booked
            </label>
          </div>
        </div>
      </div>


    <div data-target='item-status.items'>
      <%= render partial: 'items/item', collection: @trip.items %>
    </div>
  </div>

<!-- closing div for container -->
</div>
