<div class="message-container" id="message-<%= message.id %>">
  <i class="author">
    <% if message.user.avatar.attached? %>
      <%= image_tag message.user.avatar, class: "avatar" %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/dowupfbnq/image/upload/v1604735390/istockphoto-1223671392-612x612_dyrhd5.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
    <span><%= message.user.name %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>
