<div class="container">

  <%= link_to 'Back', trip_path(@trip), class: "btn btn-primary-tt btn-sm" %>

  <h3>Messages</h3>
  <%= simple_form_for [ @trip, @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
  <% end %>

  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.reverse.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

</div>
