<div class="footer">
  <div class="footer-links-left d-flex">
    <div class="footer-items">
      <a href="#"><i class="fas fa-home"></i></a>
    </div>
   <!--  <div class="footer-items">
      <a href="#"><i class="fas fa-search"></i></a>
    </div> -->
    <div class="footer-btn-create">
      <%= link_to "+", new_trip_path, class: "btn-main" %>
    </div>
     <!--  <div class="footer-items">
        <a href="#"><i class="far fa-bell"></i></a>
      </div> -->
    <div class="footer-items">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/dowupfbnq/image/upload/v1604735390/istockphoto-1223671392-612x612_dyrhd5.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Account", edit_user_registration_path, method: :get, class: "dropdown-item"%>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      <!--<img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />-->
    </div>
  </div>
</div>
