
<div class="text-center">
  <h1>Welcome to our UIKIT</h1>
</div>
<hr>

<div class="container">
  <p>Card Trip Component</p>
  <div class="card-product">
    <%= image_tag ("cardtrip.jpg") %>
    <div class="card-product-infos">
      <div class="product-info-main">
        <h2>Hanoi Trip</h2>
        <p>SAT, NOV 21 - THU, DEC 10, 2020</p>
      </div>
      <div class="clock d-flex">
        <i class="far fa-clock"></i>
        <p>20 days, today</p>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="container">
  <p>Buttons</p>

  <div class="btn">
    <%= link_to "CONFIRM", "#", class: "btn btn-primary-tt btn-sm" %>
  </div>
  <div class="btn">
    <%= link_to "ADD A TRIP", "#", class: "btn btn-primary-tt btn-sm" %>
  </div>
  <div class="btn">
    <%= link_to "BACK", "#", class: "btn btn-primary-tt btn-sm" %>
  </div>
  <div class="btn">
    <%= link_to "+", "#", class: "btn-main" %>
  </div>

  <div class="btn">
    <%= link_to "SEE MORE", "#", class: "btn-more" %>
  </div>

</div>

<hr>

<div class="container">
  <p>Avatars</p>
  <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
  <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
</div>

<hr>

<div class="container">
  <p> Status tags </p>

  <div class="tag">
    <p class="pending-tag"> PENDING </p>
  </div>

  <div class="tag">
    <p class="approved-tag"> APPROVED </p>
  </div>

  <div class="tag">
    <p class="booked-tag">BOOKED</p>
  </div>
</div>

<hr>

<div class="container">
  <p>Bottom strip</p>
  <div class = "bottom-strip">
    <div class="status-vote-grp right-16">
      <p class = "pending-tag"> PENDING </p>
      <div class="d-flex justify-content-between align-items-center">
        <%= image_tag "heart.png", class: "heart mr-1"%>
        <p class= "mb-0 font-smaller"> 4 </p>
      </div>
    </div>
    <div class = "left-16">
      <%= link_to "CONFIRM", "#", class: "btn btn-primary-tt btn-sm" %>
    </div>
  </div>
</div>
<hr>

<div class="container">

  <p>Side card</p>
  <div class= "side-card">
    <%= image_tag "ellipsis.png", class: "ellipsis"%>
    <div>
      <p class="mt-3 mb-0 font-price center"> $450 </p>
      <p class="mt-0 font-smaller center"> per pax </p>
    </div>
  </div>
</div>

<hr>

<div class="container">

  <p>Flight details</p>
  <div class= "common-detail-card">
    <div class= "flight-top-grp justify-content-between">
      <div class="time-date-loc-grp">
        <p class="center font-big">06:35</p>
        <p class="center font-smallnt-small">20/11/2020</p>
        <p class="center font-small">SIN</p>
      </div>
      <div class="down">
        <p class="center font-small">10h00</p>
        <div class="line"></div>
      </div>
      <div class="time-date-loc-grp">
        <p class="center font-big">16:35</p>
        <p class="center font-small">20/11/2020</p>
        <p class="center font-small">GER</p>
      </div>
    </div>
    <div>
      <p class="m-0 ml-2 mt-2 font-small-bold">Singapore Airlines</p>
      <p class="m-0 ml-2 font-smaller">SIA8888</p>
    </div>
  </div>
</div>
<hr>

<div class="container">

  <p>Accommodation details</p>
  <div class= "common-detail-card">
    <div class= "d-flex">
      <%= image_tag "https://www.gannett-cdn.com/-mm-/05b227ad5b8ad4e9dcb53af4f31d7fbdb7fa901b/c=0-64-2119-1259/local/-/media/USATODAY/USATODAY/2014/08/13/1407953244000-177513283.jpg?width=660&height=373&fit=crop&format=pjpg&auto=webp", class:"card-image ml-2 mb-3 mt-3 mr-2" %>

      <div class="down">
        <div>
          <p class="bold m-0 ml-2">Hilton Hotel</p>
          <p class="m-0 ml-2 mt-1 font-smallest">Orchard Rd</p>
        </div>

        <div class="d-flex font-normal m-2">
          <div>
            <p class="m-0 mr-2">IN</p>
            <p class="m-0 mr-2">OUT</p>
          </div>

          <div>
            <p class="m-0">05/04/2020</p>
            <p class="m-0">08/04/2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">

  <p>Activity details</p>
  <div class= "common-detail-card">
    <div class= "d-flex">
      <%= image_tag "https://cdn.britannica.com/47/80547-050-8B316D38/Field-green-tea-Mount-Fuji-Shizuoka-prefecture.jpg", class:"card-image ml-2 mb-3 mt-3 mr-2" %>

      <div class="down">
        <div>
          <p class="font-small-bold-no-space m-0 ml-2 mr-2">Hiking on Mount Fuji</p>
          <p class="m-0 ml-2 mt-1 font-smallest">Fuji Rd</p>
        </div>

        <p class="font-normal m-2">05/04/2020</p>

      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">

  <p>Flight card</p>
  <div class= "action-card">

    <div class="d-flex">

      <div class= "common-detail-card">
        <div class= "flight-top-grp justify-content-between">
          <div class="time-date-loc-grp">
            <p class="center font-big">06:35</p>
            <p class="center font-smallnt-small">20/11/2020</p>
            <p class="center font-small">SIN</p>
          </div>
          <div class="down">
            <p class="center font-small">10h00</p>
            <div class="line"></div>
          </div>
          <div class="time-date-loc-grp">
            <p class="center font-big">16:35</p>
            <p class="center font-small">20/11/2020</p>
            <p class="center font-small">GER</p>
          </div>
        </div>
        <div>
          <p class="m-0 ml-2 mt-2 font-small-bold">Singapore Airlines</p>
          <p class="m-0 ml-2 font-smaller">SIA8888</p>
        </div>
      </div>

      <div class= "side-card">
        <%= image_tag "ellipsis.png", class: "ellipsis"%>
        <div>
          <p class="mt-3 mb-0 font-price center"> $450 </p>
          <p class="mt-0 font-smaller center"> per pax </p>
        </div>
      </div>

    </div>

    <div class = "bottom-strip">
      <div class="status-vote-grp right-16">
        <p class = "pending-tag"> PENDING </p>
        <div class="d-flex justify-content-between align-items-center">
          <%= image_tag "heart.png", class: "heart mr-1"%>
          <p class= "mb-0 font-smaller"> 4 </p>
        </div>
      </div>
      <div class = "left-16">
        <%= link_to "CONFIRM", "#", class: "btn btn-primary-tt btn-sm" %>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="container">

  <p>Accommodation card</p>
  <div class= "action-card">

    <div class="d-flex">

      <div class= "common-detail-card">
        <div class= "d-flex">
          <%= image_tag "https://www.gannett-cdn.com/-mm-/05b227ad5b8ad4e9dcb53af4f31d7fbdb7fa901b/c=0-64-2119-1259/local/-/media/USATODAY/USATODAY/2014/08/13/1407953244000-177513283.jpg?width=660&height=373&fit=crop&format=pjpg&auto=webp", class:"card-image ml-2 mb-3 mt-3 mr-2" %>

          <div class="down">
            <div>
              <p class="bold m-0 ml-2">Hilton Hotel</p>
              <p class="m-0 ml-2 font-smallest">Orchard Rd</p>
            </div>

            <div class="d-flex font-normal m-2">
              <div>
                <p class="m-0 mr-2">IN</p>
                <p class="m-0 mr-2">OUT</p>
              </div>

              <div>
                <p class="m-0">05/04/2020</p>
                <p class="m-0">08/04/2020</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class= "side-card">
        <%= image_tag "ellipsis.png", class: "ellipsis"%>
        <div>
          <p class="mt-3 mb-0 font-price center"> $350 </p>
          <p class="mt-0 font-smaller center"> per pax </p>
        </div>
      </div>

    </div>

    <div class = "bottom-strip">
      <div class="status-vote-grp right-16">
        <p class = "pending-tag"> PENDING </p>
        <div class="d-flex justify-content-between align-items-center">
          <%= image_tag "heart.png", class: "heart mr-1"%>
          <p class= "mb-0 font-smaller"> 5 </p>
        </div>
      </div>
      <div class = "left-16">
        <%= link_to "CONFIRM", "#", class: "btn btn-primary-tt btn-sm" %>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="container">

  <p>Activity card</p>
  <div class= "action-card">

    <div class="d-flex">

      <div class= "common-detail-card">
        <div class= "d-flex">
          <%= image_tag "https://cdn.britannica.com/47/80547-050-8B316D38/Field-green-tea-Mount-Fuji-Shizuoka-prefecture.jpg", class:"card-image ml-2 mb-3 mt-3 mr-2" %>

          <div class="down">
            <div>
              <p class="font-small-bold-no-space m-0 ml-2 mr-2">Hiking on Mount Fuji!!!!!</p>
              <p class="m-0 ml-2 mt-1 font-smallest">Fuji Rd</p>
            </div>

            <p class="font-normal m-2">05/04/2020</p>

          </div>
        </div>
      </div>

      <div class= "side-card">
        <%= image_tag "ellipsis.png", class: "ellipsis"%>
        <div>
          <p class="mt-3 mb-0 font-price center"> $150 </p>
          <p class="mt-0 font-smaller center"> per pax </p>
        </div>
      </div>

    </div>

    <div class = "bottom-strip">
      <div class="status-vote-grp right-16">
        <p class = "pending-tag"> PENDING </p>
        <div class="d-flex justify-content-between align-items-center">
          <%= image_tag "heart.png", class: "heart mr-1"%>
          <p class= "mb-0 font-smaller"> 4 </p>
        </div>
      </div>
      <div class = "left-16">
        <%= link_to "CONFIRM", "#", class: "btn btn-primary-tt btn-sm" %>
      </div>
    </div>

  </div>
</div>

<hr>
<div class="container">
  <p>Footer</p>
  <div class="footer">
    <div class="footer-links d-flex">
      <div class="footer-items">
        <a href="#"><i class="fas fa-home"></i></a>
      </div>
      <div class="footer-items">
        <a href="#"><i class="fas fa-search"></i></a>
      </div>
      <div class="footer-items">
        <%= link_to "+", "#", class: "btn-main" %>
      </div>
      <div class="footer-items">
        <a href="#"><i class="far fa-bell"></i></a>
      </div>
      <div class="footer-items">
        <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
      </div>
    </div>
  </div>
</div>

<hr>

